/*
  Bootstrap-submenu
*/

.dropdown-submenu {
  position:relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display:block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/*
  Bootstrap-wysihtml
*/

ul.wysihtml-toolbar {
  margin: 0;
  padding: 0;
  display: block;
}

ul.wysihtml-toolbar::after {
  clear: both;
  display: table;
  content: "";
}

ul.wysihtml-toolbar > li {
  float: left;
  display: list-item;
  list-style: none;
  margin: 0 5px 10px 0;
}

ul.wysihtml-toolbar a[data-wysihtml-command=bold] {
  font-weight: bold;
}

ul.wysihtml-toolbar a[data-wysihtml-command=italic] {
  font-style: italic;
}

ul.wysihtml-toolbar a[data-wysihtml-command=underline] {
  text-decoration: underline;
}

ul.wysihtml-toolbar a.btn.wysihtml-command-active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #E6E6E6;
  background-color: #D9D9D9;
  outline: 0;
}

ul.wysihtml-commands-disabled .dropdown-menu {
  display: none !important;
}

ul.wysihtml-toolbar div.wysihtml-colors {
  display:block;
  width: 50px;
  height: 30px;
  margin-top: 2px;
  margin-left: 5px;
  position: absolute;
  pointer-events: none;
}

ul.wysihtml-toolbar a.wysihtml-colors-title {
  padding-left: 70px;
}

.wysiwyg-color-default {
  color: default;
}

.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-orange {
  color: orange;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-bgcolor-default {
  background-color: default;
}

.wysiwyg-bgcolor-black {
  background-color: black;
}

.wysiwyg-bgcolor-silver {
  background-color: silver;
}

.wysiwyg-bgcolor-gray {
  background-color: gray;
}

.wysiwyg-bgcolor-white {
  background-color: white;
}

.wysiwyg-bgcolor-maroon {
  background-color: maroon;
}

.wysiwyg-bgcolor-red {
  background-color: red;
}

.wysiwyg-bgcolor-purple {
  background-color: purple;
}

.wysiwyg-bgcolor-fuchsia {
  background-color: fuchsia;
}

.wysiwyg-bgcolor-green {
  background-color: green;
}

.wysiwyg-bgcolor-lime {
  background-color: lime;
}

.wysiwyg-bgcolor-olive {
  background-color: olive;
}

.wysiwyg-bgcolor-orange {
  background-color: orange;
}

.wysiwyg-bgcolor-yellow {
  background-color: yellow;
}

.wysiwyg-bgcolor-navy {
  background-color: navy;
}

.wysiwyg-bgcolor-blue {
  background-color: blue;
}

.wysiwyg-bgcolor-teal {
  background-color: teal;
}

.wysiwyg-bgcolor-aqua {
  background-color: aqua;
}

.wysiwyg-font-size-smaller {
  font-size: 70%;
}

.wysiwyg-font-size-small {
  font-size: 80%;
}

.wysiwyg-font-size-medium {
  font-size: 90%;
}

.wysiwyg-font-size-normal {
  font-size: 100%;
}

.wysiwyg-font-size-large {
  font-size: 120%;
}

.wysiwyg-font-size-larger {
  font-size: 150%;
}

.wysiwyg-font-size-x-large {
  font-size: 200%;
}

.wysiwyg-font-size-xx-large {
  font-size: 300%;
}

.wysiwyg-font-size-xxx-large {
  font-size: 400%;
}


.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.bootsy blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
.bootsy blockquote p:last-child,
.bootsy blockquote ul:last-child,
.bootsy blockquote ol:last-child {
  margin-bottom: 0;
}
.bootsy blockquote footer,
.bootsy blockquote small,
.bootsy blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}
.bootsy blockquote footer:before,
.bootsy blockquote small:before,
.bootsy blockquote .small:before {
  content: '\2014 \00A0';
}
.bootsy .blockquote-reverse,
.bootsy blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0;
}
.bootsy .blockquote-reverse footer:before,
.bootsy blockquote.pull-right footer:before,
.blockquote-reverse small:before,
.bootsy blockquote.pull-right small:before,
.bootsy .blockquote-reverse .small:before,
.bootsy blockquote.pull-right .small:before {
  content: '';
}
.bootsy .blockquote-reverse footer:after,
.bootsy blockquote.pull-right footer:after,
.bootsy .blockquote-reverse small:after,
.bootsy blockquote.pull-right small:after,
.bootsy .blockquote-reverse .small:after,
.bootsy blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
.bootsy blockquote:before,
.bootsy blockquote:after {
  content: "";
}

textarea.bootsy:required:invalid {
  color: inherit;
}

/*Modal Design Styles*/

.bootsy-modal .file-input-name {display: none;}  /*Hide the input file name from showing as it's not needed and ruins design*/

/*Set a min-height on the modal body to prevent jumping up and down of modal when adding content*/
.bootsy-modal .modal-body {
  min-height: 120px;
}

.bootsy-image,
.bootsy-video {
  margin-bottom: 15px;
}

.bootsy-upload-loader {
  margin: 0 10px -10px 0;
}

.bootsy-upload-spacer {
  padding: 0 10px 0 10px;
}

.bootsy-gallery-loader {
  display: block;
  margin: 0 auto;
}

/*The below code is needed for capybara to be able to find the input, as it*/
/*does not work*/
.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
  opacity: .01;
}

/* Avoid Boostrap input borders */
body.bootsy_text_area.form-control {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.full-width {
  width: 100%;
}

iframe.full-width {
  height: 480px;
}

.video-default-size {
  width: 640px;
  height: 480px;
}

.pagination .page-item {
  cursor: pointer;
}
