<div class="row user-file-form">
  <div class="col-md-6">
    <%= hidden_field_tag :filetype, filetype %>
    <div class="input-group mb-2">
      <div class="custom-file">
        <%= file_field_tag :content, class: "custom-file-input", accept: "#{filetype}/*" %>
        <%= label_tag :content, t("bootsy.action.choose_file"), class: "custom-file-label" %>
      </div>
      <div class="input-group-append">
        <%= button_tag t("bootsy.action.insert"), type: "button", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>