<ul class="dropdown-menu" role="menu">
  <li role="presentation" class="dropdown-header"><%= t 'bootsy.image.size' %></li>

  <% Bootsy.video_versions_available.each do |size| %>
    <li>
      <%= link_to 'javascript:;', tabindex: '-1', role: 'menuitem', class: 'dropdown-item insert', data: { video_size: size.to_s } do %>
        <i class="icon-picture"></i>

        <%= t size, scope: 'bootsy.image' %>
      <% end %>
    </li>
  <% end %>
</ul>